<div class="popular__slider js-slider-popular">

    {% set popular__slider = [
        { src: 'assets/images/slider-popular/01.jpg', alt:'Девушка с жемчужной серёжкой, Ян Вермеер', 
        shadow: '#000767', name: 'Девушка с жемчужной серёжкой, 1665', 
        author: 'Ян Вермеер', description: '44 x 39см, холст', price: '900' },
        { src: 'assets/images/slider-popular/02.jpg', alt:'Бонапарт на перевале Сен-Бернар, Жак-Луи Давид', 
        shadow: '#980a1b', name: 'Бонапарт на перевале Сен-Бернар, 1801', 
        author: 'Жак-Луи Давид', description: '261 x 220см, холст', price: '3 900' },
        { src: 'assets/images/slider-popular/03.jpg', alt:'Охотники на снегу, Питер Брейгель Старший', 
        shadow: '#2a96a0', name: 'Охотники на снегу, 1565', 
        author: 'Питер Брейгель Старший', description: '117 x 162см, холст', price: '2 400' },
        { datalazy: 'assets/images/slider-popular/04.jpg', alt:'Девочка на шаре, Пабло Пикассо', 
        shadow: '#738295', name: 'Девочка на шаре, 1905', 
        author: 'Пабло Пикассо', description: '147 x 95см, холст', price: '2 300' },
        { datalazy: 'assets/images/slider-popular/05.jpg', alt:'Звездная ночь, Винсент ван Гог', 
        shadow: '#68acff', name: 'Звездная ночь, 1889', 
        author: 'Винсент ван Гог', description: '74 x 92см, холст', price: '1 300' },
    ] %} 

    {% for slide in popular__slider %}
        <div class="slider-popular__item" itemscope itemtype="https://schema.org/Offer">
             <img class="slider-popular__image js-lazy" 
                    itemprop="image" 
                    {% if slide.src %} src="{{slide.src}}"{% endif %}
                    {% if slide.datalazy %} data-lazy="{{slide.datalazy}}"{% endif %}
                    alt="{{slide.alt}}" 
                    data-shadow="{{slide.shadow}}">
            <div class="slider-popular__description description">
                <div class="slider-popular__history-creation description__history-creation" itemscope itemtype="https://schema.org/CreativeWork">
                    <span class="slider-populartop__name description__name" itemprop="name">{{slide.name}}</span>
                    <span class="slider-popular__author description__author" itemprop="author">{{slide.author}}</span>
                </div>
                <div class="slider-popular__product description__product" itemscope itemtype="https://schema.org/Offer">
                    <span class="slider-popular__size description__size" itemprop="description">{{slide.description}}</span>
                    <span class="slider-popular__price description__price" itemprop="price">{{slide.price}} &#8381;</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>